{% extends "layout.html" %}
{% block content %}

<style>
    .homeRow .homeLeftImg img {
        width: 100%;
    }

    .homeRow .homeRightImg {

    }

    .homeRow .homeRightImg img {
        width: 100%;
    }

    .homeRow .homeRightText {
        margin: 150px 0;
        font-size: 25px;
        color: #5E5E5E;
        padding: 0 5%;
    }

    .homeBottomBtn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .homeBottomBtn .homeStartBtn {
        background-color: #FBAB01;
        border-color: #FBAB01;
        color: #fff;
        width: 250px;
        height: 60px;
        font-size: 22px;
    }
</style>

<script type="text/javascript" src="{{ url_for('static', filename = 'home.js') }}"></script>

<div class="container homeRow">
    <div class="row">
      <div class="col-md-6 homeLeftImg"><img src="../static/assert/Home_img_left.jpg" alt="home_img"></div>
      <div class="col-md-6">
        <div class="row">
            <div class="col-md-12 homeRightImg">
                <br>
                <img src="../static/assert/Home_img_right.jpg" alt="home_img_right">
            </div>
            <div class="col-md-12 homeRightText">Learn Morse Codes for the 10 most common English letters and simple words in 10 minutes.</div>
            <div class="col-md-12 homeBottomBtn">
                <button type="button" class="btn btn-warning homeStartBtn" id="homeStartBtn">Start</button>
            </div>
        </div>
      </div>
    </div>
    
  </div>


{% endblock %}