{% extends "layout.html" %}
{% block content %}

<style>
    .pic_center{
        text-align: center;
    }
    .sound_text{
        padding: 30px 0px 30px 420px;
        color: grey;
        font-size: 20px;
    }
    .sound_pad{
        padding-left: 335px;
    }
    .mid{
        text-align: center;
        padding-top: 70px;
        color: #FBAB01;
    }
    .wordBottomBtn {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-top: 60px;
    }
    .wordBottomBtn .wordNextBtn {
        background-color: #FBAB01;
        border-color: #FBAB01;
        color: #fff;
        width: 150px;
        height: 40px;
        font-size: 18px;
    }
</style>

<script src="../static/words_1.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12 pic_center">
            <img src="../static/assert/WORD_HOPE.png" alt="word_hope" width = "1200">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="sound_text">It sounds like</div>
            <div class="sound_pad">
                <audio
                    controls    
                    src="../static/assert/morse code sounds/mcs-hope.wav">
                        Your browser does not support the
                        <code>audio</code> element.
                </audio> 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 wordBottomBtn">
            <button type="button" class="btn btn-warning wordNextBtn" id="wordProviousBtn">Go To Letters</button>
        </div>
        <div class="col-md-8 mid">Sample Word 1/2</div>
        <div class="col-md-2 wordBottomBtn">
            <button type="button" class="btn btn-warning wordNextBtn" id="wordNextBtn">Next</button>
        </div>
    </div>
</div>

{% endblock %}