{% extends "quiz/quizLayout.html" %}
{% block quizContent %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz/quizInput.js') }}"></script>

<form action="check_ans/7" method="POST" class="row need-validated" id="formSingle" onsubmit="return validateForm()">
    <div class="col-md-12">
        <input type="text" class="form-control" id="quizInput" name="quiz" placeholder="{{data.placeholder}}" required>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="col-md-12 quizResultPrompt" id="quizResultPrompt"></div>
    <div class="col-md-12 quizSubmitBtn" id="quizSubmitBtn"></div>
</form>

{% endblock %}
