{% extends "layout.html" %}
{% block content %}

<style>
    .quizSingleBox .quizSingleMidStringBox .quizSingleMidString {
        height: 600px;
        width: 10px;
        background-color: #FBAB01;
    }

    .quizSingle {
        margin-top: 100px;
    }

    .quizImageBox {
        width: 200px;
        height: 200px;
        border: 2px solid #000;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .quizImageBox i {
        font-size: 100px;
    }

    .quizImageBox img {
        width: 100%;
    }

    .quizItemBox {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .quizEqual {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .quizEqual img {
        width: 100%;
    }

    .quizItemBottom {
        margin-top: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        color: #5E5E5E;
    }

    .quizProcessBox {
        margin-top: 150px;
    }

    .quizProcessBox .quizProcess {
        color: #FBAB01;
        font-size: 20px;
    }

    .quizSingle p {
        font-size: 25px;
        color: #5E5E5E;
    }

    .quiz01 {
        margin-left: 20px;
        margin-top: 30px;
    }

    .quiz01 input{
        transform:scale(2);
    }

    .quiz01 label {
        font-size: 25px;
        transform: translateY(-7px);
    }

    .quiz01 .form-check {
        margin-bottom: 10px;
    }

    .quizSubmitBtn button {
        background-color: #FBAB01;
        border-color: #FBAB01;
        color: #fff;
        width: 150px;
        height: 40px;
        font-size: 20px;
        margin-top: 30px;
    }

    .curScores {
        padding-left: 100px;
        color: #FBAB01;
        font-size: 20px;
    }

    #resultInfo {
        font-size: 18px;
    }
</style>

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz/quizResult.js') }}"></script>
<script>
    let data = {{data|tojson}}
    console.log(data)
</script>

<div class="container quizSingleBox">
    <div class="row">
        <div class="col-md-8 quizSingle">
            <div class="row">
                <div class="col-md-5 quizItemBox">
                    <div class="quizImageBox"><img src="../../static/assert/quiz_images/quiz01Question.jpg" alt="quiz01"></div>
                </div>
                <div class="col-md-2 quizEqual">
                    <img src="../../static/assert/quiz_equal.jpg" alt="quiz+equal">
                </div>
                <div class="col-md-5 quizItemBox">
                    <div class="quizImageBox"><i class="fas fa-solid fa-question"></i></div>
                </div>
            </div>
            <div class="col-md-12 quizItemBottom">
                Which option is the corresponding letter?
            </div>
            <div class="row quizProcessBox">
                <div class="col-md-8 curScores">Scores: 0 (-----)</div>
                <div class="col-md-4 quizProcess">Quiz 1 / 10</div>
            </div>
        </div>
        <div class="col-md-1 quizSingleMidStringBox">
            <div class="quizSingleMidString"></div>
        </div>
        <div class="col-md-3 quizSingle">
            <p>Select the right answer:</p>
            <form action="01/result" method="POST" class="row quiz01">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="quiz01" id="flexRadioDefault1" value="A" disabled>
                    <label class="form-check-label" for="flexRadioDefault1">&nbsp;&nbsp;A</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="quiz01" id="flexRadioDefault2" value="S" disabled>
                    <label class="form-check-label" for="flexRadioDefault2">&nbsp;&nbsp;S</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="quiz01" id="flexRadioDefault3" value="P" disabled>
                    <label class="form-check-label" for="flexRadioDefault2">&nbsp;&nbsp;P</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="quiz01" id="flexRadioDefault4" value="E" disabled>
                    <label class="form-check-label" for="flexRadioDefault4">&nbsp;&nbsp;E</label>
                </div>
            </form>
            <div class="row">
                <div class="col-md-12" id="resultInfo"></div>
                <div class="col-md-6"></div>
                <div class="col-md-6 quizSubmitBtn">
                    <br>
                    <br>
                    <br>
                    <button type="button" class="btn btn-warning" id="quiz01Next">Next</button>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}