{% extends "quiz/quizLayout.html" %}
{% block quizContent %}

<style>
    .quiz5 {
        margin-left: 20px;
        margin-top: 30px;
    }

    .quiz5 input{
        transform:scale(2);
    }

    .quiz5 label {
        font-size: 25px;
        transform: translateY(-7px);
    }

    .quiz5 .form-check {
        margin-bottom: 10px;
    }
</style>

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz/quiz5.js') }}"></script>

<form action="check_ans/5" method="POST" class="row need-validated quiz5" id="formSingle">
    <div class="form-check">
        <input class="form-check-input" type="radio" name="quiz" id="flexRadioDefault1" value="E" required>
        <label class="form-check-label" for="flexRadioDefault1">&nbsp;&nbsp;E</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="quiz" id="flexRadioDefault2" value="R" required>
        <label class="form-check-label" for="flexRadioDefault2">&nbsp;&nbsp;R</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="quiz" id="flexRadioDefault3" value="L" required>
        <label class="form-check-label" for="flexRadioDefault2">&nbsp;&nbsp;L</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="quiz" id="flexRadioDefault4" value="M" required>
        <label class="form-check-label" for="flexRadioDefault4">&nbsp;&nbsp;M</label>
    </div>
    <div class="col-md-12 quizResultPrompt" id="quizResultPrompt"></div>
    <div class="col-md-12 quizSubmitBtn" id="quizSubmitBtn"></div>
</form>

{% endblock %}