.navbar {
    background-color: #FBAB01;
}

.topNav {
    display: flex;
    justify-content: space-around;
}

.topNav a {
    color: #fff;
    font-size: 20px;
}

.topNav .active {
    color: #FBAB01;
    background-color: #fff;
    border-radius: 10px;
}